/* VARIABLES -----------------------------------------------------------*/

$font-default: "Arial", sans-serif;
$font-icon: "Material Design Icons";
$shadow: 1px 1px 3px #000;
$preto: #000;
$branco: #fff;
$text-color: #333;
$link-color: #2689dd;
$link-color-hover: #1a5689;

// MDI Fonts
$mdi-font-path: "../libs/mdi/fonts" !default;

